* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace, Arial, Helvetica, sans-serif;
  
}
body {
  background-color: black;
}
.common{
  cursor: default;

}
a:hover{
  cursor: pointer;
  transform: scale(1.09);
  transition: 0.3s ease;
}
button,svg,img:hover{
  cursor: pointer;
}
button:hover{
  transform: scale(1.05);
  box-shadow: 0 0 10px white;
  transition: 0.3s ease;
}

nav {
  background-color: transparent;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}
.navcontent {
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 70% 10%;
  width: 100%;
  padding: 1%;
  padding-top: 2%;
}
.logo{ 
height: 84%;
padding-inline-start: 32%;
padding-top: 1%;
}
.hamburger {
  display: none;
}
.navMiddle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20%;
  padding-inline-start: 4%;
  padding-top: 1%;

}
.navMiddle > a {
  text-decoration: none;
  font-size: 0.99rem;
  font-weight: 400;
  letter-spacing: 0px;
  word-spacing:-5px ;
  color: white;
}
.navlast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 22%;
  padding-top: 8%;
  /* background-color: aquamarine; */
}
.navlast > a {
  text-decoration: none;
  color: white;
  font-size: 0.99rem;
}
.ham{
    width: 1rem;
    height: 1rem;
}
.common {
  height: 700px;
  width: 100%;
  position: relative;
}
.content {
  position: absolute;
  left: 7%;
  bottom: 13%;
  height: 30%;
  width: 40%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 7%;
  /* justify-content: space-evenly; */
  color: white;
}
.content > button {
  width: 27%;
  background-color: transparent;
  height: 50px;
  color: white;
  border: 2px solid white;
  font-weight: bolder;
  letter-spacing: 0.03rem;
  font-size: 0.9rem;
  margin-top: 3%;
  word-spacing: -0.2rem;
  letter-spacing: -0.01rem;
}
.content > h1 {
  font-size: 3rem;
  line-height: 2.7rem;
  word-spacing: -0.6rem;
  letter-spacing: -0.04rem;
}
.content>p{
  font-size: 1.4rem;
  word-spacing: -0.6rem;
  letter-spacing: -0.04rem;
}
.first {
  background-image: url(https://sxcontent9668.azureedge.us/cms-assets/assets/CRS_32_causeway_DSC_1167_desktop_88664661fd.jpg);
  background-size: cover;
  background-repeat: no repeat;
}
.second {
  background-image: url(https://sxcontent9668.azureedge.us/cms-assets/assets/Band_3_outsidesilverdome_DSC_2830_desktop_d155b21eb8.jpg);
  background-size: cover;
  background-repeat: no repeat;
}
.third {
  background-image: url(https://sxcontent9668.azureedge.us/cms-assets/assets/Starlink_6_74_Streak_DSC_00052_3_Streak_Desktop_990c0cb3e1.jpg);
  background-size: cover;
  background-repeat: no repeat;
}
.fourth {
  background-image: url(https://sxcontent9668.azureedge.us/cms-assets/assets/Eva_Suit_Desktop_alternate_1cf9bae18e.jpg);
  background-size: cover;
  background-repeat: no repeat;
}
.fifth {
  background-image: url(https://sxcontent9668.azureedge.us/cms-assets/assets/make_life_multiplanetary_desktop_3fa7cff73c.jpg);
  background-size: cover;
  background-repeat: no repeat;
}
footer {
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 20px;
  cursor: default;
}
.footercontent {
  width: 22%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footercontent>p:hover{
   cursor: pointer;
}

@media (max-width:1300px) {
    .navMiddle {
        padding-right: 10%;
      
      }
}
@media (min-width:972px) and (max-width:1200px) {
      .navMiddle>a{
        font-size: 0.8rem;
      }
      .navlast>a{
        font-size: 0.8rem;
      }
      .ham{
        width: 0.8rem;
        height: 0.8rem;
      }
}
@media (max-width:972px) and (min-width:769px){
    .navMiddle>a{
      font-size: 0.6rem;
      letter-spacing: 0;
    }
    .navlast>a{
      font-size: 0.6rem;
    }
    .navlast{
      padding-top: 8%;
    }
    .ham{
      width: 0.6rem;
      height: 0.6rem;
      height: 100%;
      padding-bottom: 0.1%
    }
    .common{
      height: 600px;
      background-position: center;
      
    }
    .content {
      left: 10%;
      bottom: 9%;
      height: 30%;
      width: 70%;
      gap: 7%;
      /* justify-content: space-evenly; */
      color: white;
    }
    .content > button {
      width: 23%;
      height: 15%;
      color: white;
      border: 1.7px solid white;
      font-weight: bolder;
      letter-spacing: 0.03rem;
      font-size: 0.6rem;
      margin-top: 3%;
      word-spacing: -0.2rem;
      letter-spacing: 0rem;
    }
    .content > h1 {
      font-size: 2rem;
      width: 60%;
      line-height: 2rem;
      word-spacing: -0.6rem;
      letter-spacing: -0.04rem;
    }
    .content>p{
      font-size: 1rem;
      word-spacing: -0.4rem;
      letter-spacing: 0.01rem;
    }
    .footercontent {
      /* background-color: lime; */
      word-spacing: -0.1rem;
      letter-spacing: 0.01rem;
      font-size: 0.6rem;
      width: 15rem;
    }
  }

@media (max-width: 768px) {
  .navMiddle,
  .navlast {
    display: none;
  }

  .content {
    padding: 0;
  }
  .content h1 {
    font-size: 2rem;
  }
  .navcontent {
    display: grid;
    grid-template-columns: 64% 36%;
    grid-template-rows: 1fr;
    align-items: center;
    width: 100%;
  }
  .hamburger {
    display: block;
    justify-self: flex-end;
    padding-top: 7%;
    padding-right: 6%;
  }
  
  .logo {
    justify-self: flex-end;
    height: 50%;
  }
  .common{
    height: 600px;
    background-position: center;
  }
  .fourth{
    background-position: 74% 90%;
  }
  .first{
    background-position: 35% 0%;
  }
  .fifth{
    background-position: 30% 10%;
  }
  .content {
    left: 12%;
    bottom: 12%;
    height: 30%;
    width: 70%;
    gap: 7%;
    /* justify-content: space-evenly; */
    color: white;
  }
  .content > button {
    width: 27%;
    height: 15%;
    color: white;
    border: 1.7px solid white;
    font-weight: bolder;
    letter-spacing: 0.03rem;
    font-size: 0.6rem;
    margin-top: 3%;
    word-spacing: -0.2rem;
    letter-spacing: 0rem;
  }
  .content > h1 {
    font-size: 2rem;
    line-height: 2rem;
    word-spacing: -0.6rem;
    letter-spacing: -0.04rem;
  }
  .content>p{
    font-size: 1rem;
    word-spacing: -0.4rem;
    letter-spacing: 0.01rem;
  }
  .footercontent {
    /* background-color: lime; */
    word-spacing: -0.1rem;
    letter-spacing: 0.01rem;
    font-size: 0.6rem;
    width: 15rem;
  }
  button:active {
    transform: scale(0.95);
    background-color: darkblue;
    transition: none;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
  background-color: #001f5f;
  }
  button {
    touch-action: manipulation;
  }
}
button:active {
  transform: scale(0.95);
  background-color: darkblue;
}

